html, body{
    width: 100vw;
    height: 100vh;
    
}
*{
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}
.header, .footer{
    padding: 20px;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
    min-height: 10vh;
    justify-content: center;
}
.title{
    font-size:xx-large;
    text-align: center;
    align-self: center;
}
.library{
    padding: 50px;
    display: grid;
    background-color: #9ca3af;
    grid-template-columns: repeat(3, 1fr);
    height: 100vh;
    gap:20px;
    
}
.book{
    color: white;
    background-color: #44403c;
    height:300px;
    width:100%;
    border-radius: 0 10px 10px 0;
    box-shadow: -3px 15px 10px -8px rgba(0, 0, 0, 0.397);
    display: grid;
    grid-template-columns: 10px auto;
    grid-template-rows: 1fr;
}
.accent{
    background-color: #a86565;
    border-radius: 0 120% 120% 0;
}
#new>.accent{
    background-color: #ffffff;
}
.book-info{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: larger;
    padding: 20px;
}
#new>.book-info{
    display: flex;
    align-items: center;
}
.new-book{
    border: none;
    border-radius: 50%;
    width:100px;
    height:100px;
    background-color: #52525bbb;
    color: white;
    font-size: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book-controls{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    gap: 20px;
}
.book-controls>button{
    box-shadow: 5px 10px 14px -9px rgba(0,0,0,1);
    color: white;
    background-color: #52525b;
    border: none;
    padding: 6px;
    width: 50%;
}
.footer{
    background-color: #1f2937;
}





.popup{
    text-shadow: 6px 3px 2px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: column;
    padding: 50px;
    
    align-items: center;
    gap: 10px;
    font-size: larger;
    width: 20vw;
    height:50vh;
    color:white;
    background-color: #52525b;
  
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 7px 7px 10px 1px rgba(0,0,0,0.68);
}
.popup-title{
    font-size: xx-large;
}
.inputs{
    width: 100%;
}
.input{
    color: white;
    display: flex;
    flex-direction: column;
    margin: 20px 0;
    width: 100%;

}
.input>input{
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.68) inset;
    padding: 6px;
    color: white;
    background-color: #44403c;
    border: none;

}
.input>input:focus{
    outline:none;
    box-shadow: none;   
}
.form-buttons{
    display: flex;
    gap:20px;
    width: 100%;
}
.form-buttons>button{
    width: fit-content;
    height: 70px;
    margin-top: 20px;
    padding: 5px;
    background-color: #44403c;
    color: white;
    font-size: larger;
    align-self: flex-end;
    border: none;
    box-shadow: 2px 5px 10px 1px rgba(0,0,0,0.68);
}
.new-book:hover{
    outline-color: #5e5d5d63;
    outline-style:line;
    box-shadow: 0px 0px 10px 8px rgba(112,112,112,0.75);

}
.clickable:active{
    box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.68) inset;
}
.hidden{
    visibility: hidden;
}
.read{
    background-color: #508666;
}